<div class="container">
    <p>Agregar Empleado</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb3">
                    <label class="form-label">Rut</label>
                    <input [(ngModel)]="datos.Rut" type="text" class="form-control" name="Rut" maxlength="9">
                </div>

                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input [(ngModel)]="datos.Nombre" type="text" class="form-control" name="Nombre">
                </div>

                <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input [(ngModel)]="datos.Apellido" type="text" class="form-control" name="Apellido">
                </div>

                <div class="mb-3">
                    <label class="form-label">Direccion</label>
                    <input [(ngModel)]="datos.Direccion" type="text" class="form-control" name="Direccion">
                </div>

                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input [(ngModel)]="datos.Telefono" type="text" class="form-control" name="Telefono">
                </div>

                <div class="mb-3">
                    <label class="form-label">Sueldo</label>
                    <input [(ngModel)]="datos.Sueldo" type="text" class="form-control" name="Sueldo">
                </div>

                <div class="mb-3">
                    <label class="form-label">Antiguedad</label>
                    <input [(ngModel)]="datos.Antiguedad" type="text" class="form-control" name="Antiguedad">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Tipo_trabajo</label>
                    <input [(ngModel)]="datos.Tipo_trabajo" type="text" class="form-control" name="Tipo_trabajo">
                </div>

                <button (click)="agregar()" class="btn btn-primary">Agregar</button>
            </form>
        </div>
    </div>
</div>
